<h3>Exchange Rate Information</h3>
<h4 style="padding-bottom: 1em">Currency calculator</h4>
<div ng-controller="View4Ctrl as ctrl">
    <form ng-submit="ctrl.calculate()">
        <select ng-model="ctrl.from">
            <option ng-repeat="curr in ctrl.exchangeArray" value="{{curr.rate}}">
                {{curr.desc}}             
            </option>
        </select>
        to 
        <select ng-model="ctrl.to">
            <option ng-repeat="curr in ctrl.exchangeArray" value="{{curr.rate}}">
                {{curr.desc}}
            </option>
        </select>
        <br>
        <div style="padding-bottom: 1em;padding-top: 1em">
        <input type="text" placeholder="Enter amount" ng-model="ctrl.amount" style="width: 9em">
        <input type="text" readonly ng-model="ctrl.result" style="border-style: hidden;font-weight: bold"><br>
        </div>
        <button class="btn btn-primary">Calculate</button>
    </form>
</div>